ul {
    list-style-type: none;
    display: flex;
  }

.link {
    color: black;
}

.navni {
    border: 2px solid black;
    padding: 8px 24px;
    margin: 0 4px;
    background-color: #fff;
    border-radius: 4px;
}